***Задача 1***

Даны значения величины заработной платы заемщиков банка (salary) и значения их поведенческого кредитного скоринга (scoring):

salary = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110]
scoring = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]

1. Найдите ковариацию этих двух величин: сначала без использования специальных функций, а затем с помощью функции numpy.cov. Полученные значения должны быть равны.
2. Найдите коэффициент корреляции Пирсона: с помощью ковариации и средних квадратических отклонений двух признаков, а затем с помощью специальных функций из библиотек numpy и pandas.

In [42]:
import pandas as pd
import warnings
import numpy as np
from scipy import stats
warnings.filterwarnings("ignore")

In [17]:


data = {"salary":[35, 45, 190, 200, 40, 70, 54, 150, 120, 110],"scoring":[401, 574, 874, 919, 459, 739, 653, 902, 746, 832]}

In [20]:
df = pd.DataFrame(data)

In [21]:
df

   salary  scoring
0      35      401
1      45      574
2     190      874
3     200      919
4      40      459
5      70      739
6      54      653
7     150      902
8     120      746
9     110      832

In [31]:
# Найдите ковариацию этих двух величин: сначала без использования специальных функций, 
# а затем с помощью функции numpy.cov.

In [22]:
X = df['salary']
Y = df['scoring']

MX = X.mean()
MY = Y.mean()

cov = ((X - MX) * (Y - MY)).sum() / (X.shape[0] - 1)
cov

10175.37777777778

In [28]:
np.cov(X, Y)

array([[ 3882.93333333, 10175.37777778],
       [10175.37777778, 33854.32222222]])

In [ ]:
# Найдите коэффициент корреляции Пирсона:
# с помощью ковариации и средних квадратических отклонений двух признаков, 
# а затем с помощью специальных функций из библиотек numpy и pandas

In [34]:
corr = cov / (X.std(ddof = 1) * Y.std(ddof = 1))

In [35]:
corr

0.8874900920739164

In [36]:
df[['salary', 'scoring']].corr()

          salary  scoring
salary   1.00000  0.88749
scoring  0.88749  1.00000

In [37]:
np.corrcoef(X, Y)

array([[1.        , 0.88749009],
       [0.88749009, 1.        ]])

***Задача 2***

Измерены значения IQ выборки студентов, обучающихся в местных технических вузах:

131, 125, 115, 122, 131, 115, 107, 99, 125, 111

Известно, что в генеральной совокупности IQ распределен нормально. Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [44]:
iq_stud =  np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])

In [45]:
n = len(iq_stud)
p = 0.95
alpha = 1 - p

In [46]:

t1 = stats.t.ppf(alpha / 2, df=n - 1)
t2 = stats.t.ppf(1 - alpha / 2, df=n - 1)

t1, t2

(-2.2621571627409915, 2.2621571627409915)

In [50]:
confidence_interval  = (iq_stud.mean() + t1 * iq_stud.std() / np.sqrt(n), iq_stud.mean() + t2 * iq_stud.std() / np.sqrt(n))

In [51]:
confidence_interval

(110.9432125583706, 125.25678744162938)

In [52]:
print(f'Доверительный интервал для оценки математического ожидания mu - {confidence_interval} ')

Доверительный интервал для оценки математического ожидания mu - (110.9432125583706, 125.25678744162938)


***Задача 3***

Известно, что рост футболистов в сборной распределен нормально с известной дисперсией 25. На выборке объёма 27 выборочное среднее составило 174.2. Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [54]:
D = 25 
mean = 174.2
p = 0.95
alpha = 1 - p
n = 27

In [55]:

t1 = stats.t.ppf(alpha / 2, df=n - 1)
t2 = stats.t.ppf(1 - alpha / 2, df=n - 1)

t1, t2

(-2.055529438642871, 2.055529438642871)

In [58]:
confidence_interval  = (mean + t1 * np.sqrt(D) / np.sqrt(n), mean + t2 *np.sqrt(D)  / np.sqrt(n))

In [59]:
confidence_interval

(172.2220658754539, 176.17793412454608)

In [60]:
print(f'Доверительный интервал для оценки математического ожидания mu - {confidence_interval} ')

Доверительный интервал для оценки математического ожидания mu - (172.2220658754539, 176.17793412454608)

***Задача 4***

Выберите тему для проектной работы по курсу Теории вероятностей и математической статистики и напишите ее в комментарии к Практическому заданию.